__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
.env

.env*
!/.env.example

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

*.log
logs/
*.log.*

development_plan.md
full_project_details.md